.form {
  margin: 5%;
  top: 0%;
}
.stepper-container {
  display: flex;
  flex-direction: row;
}
.stepper {
  width: 33.33%;
  height: 15%;
  border: 1px solid black;
}

.stepper-header {
  margin: 2% 0%;
  padding: 10% 0%;
  width: 100%;
  height: 40%;
  border: 1px solid black;
}

.prev {
  float: left;
}
.next {
  float: right;
}

.selected {
  background-color: black;
  color: white;
}
