.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.component {
  margin: 10% 0%;
  padding: 10% 5%;
  border: 1px solid black;
}
.error {
  color: red;
}
.textfield {
  margin: 15% 0%;
}
